<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
<!-- 数据库德配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/myproject</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	<!-- 读取ibatis配置文件 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="configLocation">
			<value>classpath:SqlMapConfig.xml</value>
		</property>
	</bean>
	
	<bean id="boardDao" class="com.bbs.dao.impl.BoardDaoImpl">
		<property name="client">
			<ref local="sqlMapClient"/>
		</property>
	</bean>
	<bean id="boardService" class="com.bbs.service.impl.BoardServiceImpl">
		<property name="boardDao" ref="boardDao" />
	</bean>
	<bean id="board" class="com.bbs.model.Board" />
	
	<bean id="addBoardAction" class="com.bbs.action.board.AddBoardAction">
		<property name="board" ref="board"></property>
		<property name="boardService" ref="boardService" />
	</bean>
	
	<bean id="showBoardAction" class="com.bbs.action.board.ShowBoardAction">
		<property name="boardService" ref="boardService" />
	</bean>
	
	<bean id="deleteAction" class="com.bbs.action.board.DeleteAction">
		<property name="boardService" ref="boardService" />
		<property name="board" ref="board"></property>
	</bean>
	
</beans>
