/**
 * author: wliu
 * description: for index
 * date: 2015/3/20
 */

/**
 * 0.0 - main content
 **/
 @import "mixins.scss";
 $blue: #488AD8;
 $header_gray: #c2c2c2;
.content{
  width: 980px;
  margin: 0 auto;
}
/**
 * 1.0 - Search Block
 **/
.search-wrapper{
  width: 100%;
  height: 80px;
  .logo{
    width: 120px;
    height: 80px;
    content: '这里是LOGO';
  }
  .search-block{
    width: 200px;
    height: 30px;
    margin: 25px 10px;
    .input-block{
      float: left;
      padding: 0;
      width: 150px;
      height: 30px;
      border: none;
      line-height: 30px;
      background: #fff;
      border-radius: 2px 0 0 2px;
    }
    .input-submit{
      float: left;
      width: 50px;
      height: 30px;
      color: #fff;
      border: none;
      background: #488AD8;
      border-radius: 0 2px 2px 0;
      @include appearance_none;
    }
  }
  .forum{
    width: 50px;
    height: 30px;
    margin: 25px 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #488AD8;
    border-radius: 2px;
    cursor: pointer;
  }
}

/**
 * 2.0 - Category List
 **/
.category{
  width: 100%;
  height: 100%;
  margin: 5px 0;
  .cate-i{
    float: left;
    padding-top: 40px;
    width: 49px;
    height: 60px;
    text-align: center;
    background: url('../../../../img/icon_cate.png') no-repeat;
    a{
      color: #333;
      text-decoration: none;
      transition: all .25s;
      &:hover{
        color: blue;
        text-decoration: underline;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
  /* set position info for every category icon */
  @for $i from 1 to 20 {
    .i#{$i}{
      background-position: 56-$i*41px 0;
    }
  }
}

/**
 * 3.0 - Section Block
 **/
.section{
  width: 980px;
  margin: 10px auto;
  .left{
    float: left;
    width: 300px;
  }
  .mid{
    float: left;
    width: 440px;
    margin: 0 5px;
  }
  .right: {
    float: left;
    width: 230px;
  }
}
/**
 * 3.1 - Gallery News
 **/
.gallery-news{
  width: 300px;
  height: 235px;
  outline: 1px solid #ccc;
  background: #fff;
}
/**
 * 3.2 - News
 **/
.news-wrap{
  width: 440px;
  height: 540px;
  outline: 1px solid #ccc;
  background: #fff;
  .news-wrap-header{
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    .n-w-h-i{
      float: left;
      width: 33.3%;
      background: $header_gray;
      border-bottom: 1px solid $blue;
      text-align: center;
    }
    .n-w-h-i.selected{
      color: $blue;
      background: #fff;
      border-top: 2px solid $blue;
      border-bottom: none;
    }
  }
  .news-wrap-list{
    display: none;
    padding: 11px 7px 11px 12px;
    width: 100%;
    height: 500px;
    .n-l-i{
      display: block;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      a{
        color: #333;
        &:hover{
          color: $blue;
          text-decoration: underline;
          transition: all .25s;
        }
      }
      &:first-child{
        text-align: center;
        font-size: 18px;
        line-height: 32px;
      }
    }
    .n-l-i:not(:first-child):before{
      float: left;
      width: 4px;
      height: 4px;
      margin: 10px;
      background: #232323;
      border-radius: 2px;
      content: '';
    }
  }
  .news-wrap-list.selected{
    display: block;
  }
}
/**
 * 3.3 - Health Info Block
 **/
.health-info{
  width: 230px;
  height: 400px;
  outline: 1px solid #ccc;
  background: #fff;
  .health-info-header{
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: $header_gray;
    border-top: 2px solid $blue;
  }
}