/**
 * author: wliu
 * description: for index
 * date: 2015/3/20
 */

/**
 * 0.0 - main content
 **/
 @import "mixins.scss";
.content{
  width: 980px;
  margin: 0 auto;
}
/**
 * 1.0 - Search Block
 **/
.search-wrapper{
  width: 100%;
  height: 80px;
  .logo{
    width: 120px;
    height: 80px;
    content: '这里是LOGO';
  }
  .search-block{
    width: 200px;
    height: 30px;
    margin: 25px 10px;
    .input-block{
      float: left;
      padding: 0;
      width: 150px;
      height: 30px;
      border: none;
      line-height: 30px;
      background: #fff;
      border-radius: 2px 0 0 2px;
    }
    .input-submit{
      float: left;
      width: 50px;
      height: 30px;
      color: #fff;
      border: none;
      background: #488AD8;
      border-radius: 0 2px 2px 0;
      @include appearance_none;
    }
  }
  .forum{
    width: 50px;
    height: 30px;
    margin: 25px 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #488AD8;
    border-radius: 2px;
    cursor: pointer;
  }
}

/**
 * 2.0 - Category List
 **/
.category{
  width: 100%;
  height: 100%;
  margin: 5px 0;
  .cate-i{
    float: left;
    padding-top: 40px;
    width: 49px;
    height: 60px;
    text-align: center;
    background: url('../../../../img/icon_cate.png') no-repeat;
    a{
      color: #333;
      text-decoration: none;
      transition: color .25s;
      &:hover{
        color: blue;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
  /* set position info for every category icon */
  @for $i from 1 to 20 {
    .i#{$i}{
      background-position: 56-$i*41px 0;
    }
  }
}