/**
 * author: wliu
 * description: for test 501
 * date: 2015/3/17
 */
$blue: #488AD8;
$header_gray: #c2c2c2;

@mixin appearance_none{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
