/**
 * author: wliu
 * description: for test 501
 * date: 2015/3/17
 */
$blue: #488AD8;
$border_gray: #E7E7E7;
$header_gray: #c2c2c2;
$online_green: #0EEA0E;
$offline_gray: #E7E7E7;
$block_bg_gray: #F5F5F5;
$block_bg_green: #A7F2AB;
$button_orange: #FFA680;
$button_green: #0CD50C;
$button_dark_green: #16B316;

@mixin appearance_none{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}
