<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- 数据库德配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/myproject</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	<!-- 读取ibatis配置文件 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="configLocation">
			<value>classpath:SqlMapConfig.xml</value>
		</property>
	</bean>


	<bean id="bbsAnswer" class="com.bbs.model.BbsAnswer" />
	<bean id="bbsAnswerDao" class="com.bbs.dao.impl.BbsAnswerDaoImpl" >
		<property name="client">
			<ref local="sqlMapClient"/>
		</property>
	</bean>
	<bean id="bbsAnswerService" class="com.bbs.service.impl.BbsAnswerServiceImpl">
		<property name="bbsAnswerDao" ref="bbsAnswerDao"/>
	</bean>
	<bean id="addBbsAnswerAction" class="com.bbs.action.bbsAnswer.AddBbsAnswerAction">
		<property name="bbsAnswerService" ref="bbsAnswerService" />
		<property name="bbsAnswer" ref="bbsAnswer" />
	</bean>
	<bean id="allBbsAnswerAction" class="com.bbs.action.bbsAnswer.AllBbsAnswerAction">
		<property name="bbsAnswerService" ref="bbsAnswerService" />
		<property name="bbsAnswer" ref="bbsAnswer" />
	</bean>
	
</beans>
